<h2>
  Create user
</h2>
<form action="/users" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

  <div>
    <label for="user[name]">Name</label>
    <input type="text" name="user[name]" />
  </div>
  <div>
    <label for="user[email]">Email</label>
    <input type="text" name="user[email]" />
  </div>
  <div>
    <label for="user[address][city]">City</label>
    <input type="text" name="user[address][city]" />
  </div>
  <div>
    <label for="user[address][street]">Street</label>
    <input type="text" name="user[address][street]" />
  </div>
  <div>
    <label for="user[address][street_number]">Street nr</label>
    <input type="text" name="user[address][street_number]" />
  </div>

  <input type="submit" />

  <ul>
    <% @user.errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
</form>

<%= link_to 'Users List', users_path %>
